body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
div {
    text-align: center;
    background-color: burlywood;
    margin: 2em;
    align-items: center;
    justify-content: center;
}
.container {
    display:inline-table;
    background-color: brown;
    /*margin: 2em;*/
    padding: 1em;
    border-color: black;
    border-style: solid;
}
label, input {
    float: left;
    height: 2em;
    font-size: large;
    font-weight: bold;
}